
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
header img {
    width: 320px;
    display: block;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    background-color:white;
    

}

ul li{
    list-style: none;
    width: 170px;
    font-size: 22px;
    color: black;
}
a{
 color: black;
 font-family: "Cormorant Garamond", serif;
 text-decoration: none;
 
}

.carousel{
    width: 89%;
    align-items: center;
    margin: auto;
    padding: 2%;
}

.presentacion {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.presentacion h1 {
    width: 80%;
    text-align: center;
    font-size: 27px;
    font-family: "Cormorant Garamond", serif;
    font-weight:bold;
    padding: 150px 50px 20px 50px;
    color:black
    

}
.presentacion p {
    width: 70%;
    text-align: center;
    padding: 20px 50px 100px 70px;
    font-size: 20px;
    color: black;
    font-family: "Cormorant Garamond", serif;
}


.redes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.redes ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
.redes ul li {
    margin: 0 10px;
  }
  
.redes ul li img {
    width: 40px; /* Tamaño de las imágenes en dispositivos más grandes */
    height: auto;
  }
  
.nuestras h1 {
    font-family: "Cormorant Garamond", serif;
    font-size: 30px;
    text-align: center;
    margin: 5%;
  }
  
 
  @media screen and (max-width: 768px) {
    .redes ul li img {
      width: 30px; 
    }
  }
  
  @media screen and (max-width: 480px) {
    .redes ul li img {
      width: 25px; 
    }
  }
  
.nav-link  {
  color: black !important }  